<h1>Edit Game</h1>
<% form_for :game , :url => game_path(@game), :html => {:method => :put} do |f| %>
    <%= f.error_messages %>
    <div><%= f.text_field :name %></div><br>
    <div><%= f.text_area :intro %></div><br>
	<div><%= f.text_field :designer %></div><br>
	<div><%= f.text_field :publisher %></div><br>
    <%= f.submit "Submit" %>
<% end %>

<%= link_to("Show", game_path(@game)) %> | <%= link_to("Back", games_path) %>