<h1>Edit AlbumPost</h1>
<% form_for :album , :url => album_path(@album) ,
 					:html => {:method => :put, :multipart => true} do |f| %>
    <%= f.error_messages %>
	<%= f.file_field :attachment %>
    <div><%= f.text_field :subject %></div><br>
    <div><%= f.text_area :content %></div><br>
    <%= f.submit "Submit" %>
<% end %>

 
<%= link_to("Show", album_path(@album)) %> | 
<%= link_to("Back", albums_path) %>