<h1>Edit Photo</h1>
<% form_for :photo , :url => album_photos_path(@album, @photo) ,
 					:html => {:method => :put, :multipart => true} do |f| %>
    <%= f.error_messages %>
	<%= f.file_field :attachment %>
    <div><%= f.text_field :subject %></div><br>
    <div><%= f.text_area :content %></div><br>
    <%= f.submit "Submit" %>
<% end %>

 
<%= link_to("Show", album_photos_path(@album, @photo)) %> | 
<%= link_to("Back", album_photos_path(@album)) %>