<h1><%= @photo.subject %></h1>
<div>
  	<%= image_tag @photo.attachment.url %><br>
  	<%= image_tag @photo.attachment.url(:medium) %><br>
  	<%= image_tag @photo.attachment.url(:thumb) %><br>
    <%= @photo.content %>
</div>

<%= link_to("Edit", edit_album_photo_path(@album, @photo)) %> | 
<%= link_to("Back", album_photos_path(@album)) %>
<hr>
<% form_for :comment, :url => photo_comments_path(@photo) , 
					  :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	<div><label>content</label><%= f.text_area :content %></div>
	<%= f.submit "Submit" %>
<% end %>
<%= @comments.size %>
<table>	
	<%= render :partial => "comment_item", :collection => @comments, :as => :c %>
</table>